/* whole app */

html,
body {
  height: 100%;
  background-color:  #d7d7d8;
}
 body {
   font-family: 'Helvetica', Arial, sans-serif;  

} 

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 2.25rem;
  
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

a {
  display: contents;
  color: black;
}

.section-title {
  text-align: center;
  margin-bottom: .2rem;
  color: gray;
  text-shadow: 0 0 3px #50b70c, 0 0 5px #f6ff00;
}

.section-sub-title {
  text-align: center;
  margin-bottom: .2rem;
  margin-top: 0rem;
}

.card {
  width: 100%;
  margin-right: 60px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  background-color: white;
} 

.card-title {
  margin: 4px;
  text-align: center;
}

/* header component */
header {
  text-align: center;
  padding-top: 10px;
  background-color: #d7d7d8;
}


/* nav component */

#nav-list {
  padding: 20px;
  list-style: none;
  font-size: 1.19rem;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.nav-list {
  padding: 20px;
  list-style: none;
  font-size: 1.19rem;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.navActive {
  color: gray;
  text-shadow: 0 0 3px #50b70c, 0 0 5px #f6ff00;
}

nav li {
  cursor: pointer;
}

/* about component */
#about-me-text {
  margin-top: 1rem;
}

#about-me-row {
  background-color: #86888a;
}

#about-me-card {
  background-color: #afafb1;
}

/* portfolio component */
/* no css on portfolio component */

/* project component */
#git-project-icon {
  margin-bottom: .2rem;
}

#git-repo-label {
  margin-left: 5%;
  margin-top: 0%; 
} 

#project-img {
  margin-bottom: 3%;
  margin-top: 3%;
}

#project-title {
  margin-bottom: 0%;
  text-align: center;
}

#project-card {
  background-color: #afafb1;
}

#portfolio-row {
  background-color: #86888a;
}

/* resume component */
.pdf {
   margin-left: 22%; 
   margin-bottom: 0rem;
}

#resume-div {
  margin-bottom: 1rem;
}

#resume-row {
  background-color: #86888a;
}

/* contact component */
#contact-form-label {
  margin-left: 8rem;
  width: 15rem;
}

input {
  width: 14rem;
  font-size: 1rem;
  padding: 0.25rem; 
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 8rem;
  margin-right: 0rem;
  border: 2px solid #7e7c7c;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  display: flex;
}

input:focus {
  border: 1px solid var();
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

#contact-message-label {
   margin-left: 10rem;
}

textarea {
	width: 26rem;
	height: 6.5rem; 
	border: 2px solid #7e7c7c;
  border-radius: 3px;
	padding: 0.25rem; 
  margin-left: 10rem;
  margin-right: 10rem;
  display: flexbox;  
}

textarea:focus {
  border: 1px solid var();
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

#contact-form-container {
  padding: 0rem;
}

#contact-form-btn {
  margin-left: 30rem;
  width: 6rem; 
} 

#contact-form {
  margin-bottom: .6rem;
}

#contact-error-text {
  justify-items: end;
  margin-bottom: 0em;
}

#contact-row {
  background-color: #86888a;
}
#contact-card {
  background-color: #afafb1;
}

#contact-card-title {
  margin-top: .5rem;
}

#carousel-div {
 margin-bottom: .6rem;
} 

/* footer component */
footer {
  margin-left: 25%;
  margin-top: 1rem;
  margin-bottom: .5rem;
  width:50%;
  text-align: center;
}

#footer-icon {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: .2rem;
  margin-bottom: 0rem;
  size: 2em;
}

#footer-tag-text {
  font-size: .8rem;
  margin-top: .2rem;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  input {
    width: 8rem;
  }

  textarea  {
    width: 12rem;
    margin-left: 8rem;
  }

  #contact-message-label {
    margin-left: 8rem;
 }

 #contact-form-btn {
  margin-left: 14rem;
  width: 6rem; 
} 

 .pdf {
  display:inline;
}

  /* header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  } */

  /* header h1 {
      width: 100%;
      text-align: center;
  } */

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  } 

  /* header nav ul li a {
      font-size: 20px;
  } */

  footer h2, footer div {
      text-align: center;
      width: 100%
  }

  .section-title {
    text-align: center;
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
      padding: 30px 15px;
  }

  .pdf {
    display: none;
  }

  input {
    width: 8rem;
    margin-left: 3rem;
  }
  #contact-form-label {
    margin-left: 3rem;
    width: 15rem;
  }

  textarea  {
    width: 12rem;
    margin-left: 4rem;
  }

  #contact-message-label {
    margin-left: 4rem;
 }

  #contact-form-btn {
    margin-left: 10rem;
    width: 6rem; 
} 

}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575PX) {

  .section-title {
      width: 100%;
  }

  input {
    width: 6rem;
    margin-left: 1rem;
  }
  #contact-form-label {
    margin-left: 1rem;
    width: 8rem;
  }


  textarea  {
    width: 10rem;
    margin-left: 2rem;
  }

  #contact-message-label {
    margin-left: 2rem;
 }

 #contact-form-btn {
  margin-left: 6rem;
  width: 6rem; 
} 

}


