html,
body {
  height: 100%;
}

main {
	margin: 0 auto;
	max-width: 90%;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.nav-list {
  padding: 20px;
  list-style: none;
  font-size: 1.19rem;
  margin-left: 7.5%;
  margin-right: 7.5%;
  
}

header {
  width:100%;
  text-align: center;
  padding-top: 10px;
  
}

.footer-icon {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 8px;

}

footer {
  margin-left: 25%;
  width:50%;
  text-align: center;
  
}

.navActive {
  color: gold;
  
}

nav  li {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}



h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  margin: 0.25rem;
  border: 2px solid #7e7c7c;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  display: flex;
}

input:focus {
  border: 1px solid var();
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 1030px;
	height: 120px;
	border: 2px solid #7e7c7c;
  border-radius: 3px;
	padding: 5px;
  display: flexbox;
}

a {
  display: contents;
  color: black;
}

.section-title {
  text-align: center;
  margin-bottom: 10px;
}



.card {
  width: 100%;
  margin-right: 60px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
}

.card-title {
  margin: 4px;
  text-align: center;
}

.git-icon {
  margin-left:4%;
  
}

.git-repo-label {
  margin-left: 2%;
}

.contact-form {
  
}
